@font-face {
  font-family: "norsebold";
  src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Arial, Helvetica, sans-serif, system-ui;
  font-size: 1rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  padding: 8px 0;
}

header {
  background-image: url(images/header-background.jpg);
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 250, 251);
}

main > * {
  width: 100%;
}

footer {
  background-color: lightgray;
  text-align: center;
}

footer > * {
  margin: auto;
}

div.logo {
  display: flex;
  background-color: rgb(0 0 0 / 50%);
  margin: 48px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

img.logo-image {
  height: 6rem;
}

h1 {
  font-size: 5rem;
  font-family: "norsebold", sans-serif, system-ui;
  color: white;
}

main > p {
  margin: 8px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

fieldset.form-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 0;
  background-color: white;
  border: none;
  box-shadow: 0 4px 4px lightgray;
}

fieldset.form-entry > * {
  width: 100%;
  max-width: 60ch;
  padding: 0 24px;
}

fieldset.form-entry div.form-row {
  display: flex;
  flex-direction: column;
  max-width: 66ch;
}

label {
  font-size: x-small;
  text-transform: uppercase;
  padding: 0 0 4px 8px;
}

input {
  border-color: #e5e7eb;
  border-radius: 8px;
  padding: 8px;
}

input:focus {
  box-shadow: 4px 4px 4px black;
}

input:invalid {
  border-color: red;
}

p {
  max-width: 60ch;
}

p.call-to-action {
  font-size: large;
  font-weight: bold;
  padding: 0 24px;
}

.form-row button {
  background-color: #596d48;
  margin: 8px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  max-width: 200px;
}

.form-row button:hover {
  cursor: pointer;
}
